<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seattle_7.bookaholics_circle">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bs"
        android:roundIcon="@drawable/bs"

        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".Setuserdetails"></activity>

        <activity android:name=".Userlogin"></activity>
        <activity android:name=".UserMainActivity"></activity>

        <activity android:name=".upload_doc" />
        <activity android:name=".UserHome" />

        <activity android:name=".searchbook" />


        <activity android:name=".booklist" />
        <activity android:name=".Setbookdetails" />
        <activity android:name=".Imagecapture" />
    </application>

</manifest>